body, html, .wrapper, #map {
	height: 100%;
	width: 100%;
}

body, html {
	padding: 0;
	margin: 0;
}

#page-content-wrapper, .col-lg-12 {
	padding: 0;
	position: absolute;
}

#sidebar-wrapper, .nav-buttons, #zoomIn, #zoomOut, #menu-toggle{
	opacity: 1;
	background-color: #222;

}
.sidebar-nav .sidebar-brand a{
	color:#fff;
}
#sidebar-wrapper .stuff{
	padding:1em;
}
.accordion-inner{
	color:#ccc;
	padding-left:2.5em;
}
#sidebar-wrapper .accordion-toggle{
	color:#fff;
	text-decoration:none;
	font-size:14pt;
}

#sidebar-wrapper .accordion-toggle i{
	width:1.5em;
	text-align:left;

}
a:hover{
	cursor:pointer;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.index{
	padding:0;
	margin:0;
}
.index li{
	margin:0;
	padding:0;
	text-indent: 20px;
	line-height: 20px;
	font-size:14pt;
}
.index li:nth-child(1){
	color:#01f6ff;
}
.index li:nth-child(2){
	color:#017fff;
}
.index li:nth-child(3){
	color:#4f01ff;
}
.index li:nth-child(4){
	color:#ae01ff;
}
.index li:nth-child(5){
	color:#ff0179;
}
.index li:nth-child(6){
	color:#ff0101;
}
.act{
	color:#f1c40f;
}
.nav-buttons {
	background-color: #222;
	width: 45px;
}
.nav-buttons i{
	display:block;
	padding:10px;
	color:#666;
	font-size:18pt;
}
.nav-buttons i:hover{
	color:#fff;
	cursor:pointer;
}
li{
   list-style:square;
}
.col-lg-12 {
	z-index: 9999;
}

.accordion-toggle{

}
#zoomIn, #zoomOut, #menu-toggle {
	color: white;
    border-bottom: 1px solid #333;
}
